@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h2>Livraria ASP.NET WEB API</h2>
</div>

<div class="row">
    <div class="col-md-4">
        
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
        <ul>
            <h1>Alterar Livro</h1>
        </ul>
    </div>
</div>